 <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">

        <img src="https://discordapp.com/assets/7edaed9d86e1b5dd9d4c98484372222b.svg" alt="" class="img-fluid float">
      </div>
      <div class="col-sm-6">
        <p class="d-flex justify-content-center strong ">Kamerr Ezz</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non ipsam laborum nulla illum earum dolores iste ad maxime quasi? Cumque pariatur similique soluta consectetur unde ipsa quae ex at in!</p>
        <div class="row">
          <div class="col-sm-6"><a href="" class="btn azul d-flex justify-content-center">Invitame</a></div>
          <div class="col-sm-6"><a href="" class="btn vio d-flex justify-content-center">Login</a></div>
        </div>
      </div>
    </div>
  </div>