<div class ="container">
  <div class ="row">
    <div class="col-md-5 mx-auto">
      <div class="card formulario">
          <img src="https://scontent.fmid3-1.fna.fbcdn.net/v/t1.0-9/p960x960/72838780_118301969582197_8338702515834978304_o.png?_nc_cat=104&_nc_ohc=rfqAhcrwJJkAX8lTqUI&_nc_ht=scontent.fmid3-1.fna&oh=2d83b8cdaa1b68038dc6d9a9f58c9975&oe=5E972C83" alt="" class="rounded-circle mx-auto d-block logo" height="100px" width="100px">
        <div class="card-body">
            <form action="/login" method="POST">
              <div class="form-group">
                <label class="blanco text-black">Email</label>
                <input type="email" class="form-control" name="email" required/>
              </div>
              <div class="form-group">
                <label class="blanco text-black">Password</label>
                <input type="password" class="form-control" name="password" required/>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">login</button
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>